.App {
  --width: 25rem;
  text-align: center;
  border-radius: 1rem;
  width: 25rem;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(193, 231, 243);
  overflow: hidden;
}